stages:
  - build

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

.build-template: &build-template
  image: docker:24-cli
  services:
    - name: docker:24-dind
      command: ["--tls=false", "--mtu=1460"]
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - set -eu
    - TAG="${CI_COMMIT_TAG:-$CI_COMMIT_SHORT_SHA}"
    - docker build -f $DOCKERFILE -t "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$TAG" -t "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_SLUG" $CONTEXT
    - docker push "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$TAG"
    - docker push "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_SLUG"
    - |
      if [ "${CI_COMMIT_BRANCH:-}" = "${CI_DEFAULT_BRANCH:-}" ]; then
        docker tag "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$TAG" "$CI_REGISTRY_IMAGE/$IMAGE_NAME:latest"
        docker push "$CI_REGISTRY_IMAGE/$IMAGE_NAME:latest"
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'

backend:
  <<: *build-template
  variables:
    DOCKERFILE: app/Dockerfile
    CONTEXT: app
    IMAGE_NAME: app-test

frontend:
  <<: *build-template
  variables:
    DOCKERFILE: frontend/Dockerfile
    CONTEXT: frontend
    IMAGE_NAME: frontend-test

worker:
  <<: *build-template
  variables:
    DOCKERFILE: worker/Dockerfile
    CONTEXT: worker
    IMAGE_NAME: worker-test
